/* styles/globals.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* styles.css o styles.scss */
body {
    background-color:#f1f2f4;
}
.custom-input:focus {
    outline: none;
    border: none;
}



