@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css o styles.scss */
body {
    background-color:#f1f2f4; /* Cambia el color de fondo a gris (#f0f0f0) o el color que prefieras */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

.modal {
    font-size: 12px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid #808080;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 50%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}


